:root {
    --brown-dark: #a16a4a;
    --beige: #ffc49c;
    --beige-light: #fee1cd;
    --beige-light-opacity: rgba(254,225,205, 0.75);
    --blue-light: #eef1f4;
    --blue-dark: #66798f;
    --green: #81c784;
    --red: #ff8a80;
  }

#gameboard-container {
    position: relative;
    margin: 10vh 30vw 0vh;
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr;
    column-gap: 1vw;
    row-gap: 1vh;
}

#reset-container {
    position: relative;
    margin: 0vh 30vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#reset-container img{
    height: 7vh;
}

.cell {
    box-sizing: border-box;
    width: 100%;
    height: 20vh;
    /* border-bottom: 3px solid var(--beige-light);
    border-right: 3px dashed var(--beige-light); */
    box-shadow: 3px 3px 5px 1px var(--beige-light-opacity);
    border-radius: 15px;
    /* transition: all .2s ease; */
    display: flex;
    justify-items: center;
    align-items: center;
}

.cell img{
    position: relative;
    margin: auto;
    height: 15vh;
}

.win {
    animation-duration: 0.1s;
    animation-name: scale;
    animation-iteration-count: 4;
    animation-direction: alternate;
}

@keyframes scale {
    from { transform: scale(1.0); }
    to { transform: scale(1.05); }
}
